.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
node_modules/**
out/**
pnpm-lock.yaml
.npmrc
.git/**
azure-pipelines.yml
eslint.config.js
**/*.test.js
**/test/**
.devcontainer
.prettierignore
.rooz.yaml
