.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
node_modules/**
!node_modules/bufferutil/**
!node_modules/utf-8-validate/**
!node_modules/ws/**
!node_modules/guid-typescript/**
!node_modules/minimist/**
yarn.lock
.yarn
.git/**
azure-pipelines.yml
eslint.config.js
**/*.test.js
**/test/**
.devcontainer
.prettierignore
.rooz.yaml
.yarnrc.yml
